* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* 
images
======================
*/

.image {
  width: 50px;
}

/* 
home page
==============================================
*/
#home {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* #game_board {
  display: grid;
  grid-template-columns: repeat(20, 45px);
  grid-template-rows: repeat(20, 45px);
  background-color: #ddd;
  gap: 5px;
} */

.cell {
  background-color: #333;
  height: 60px;
  width: 60px;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
